<h3>Mean TEA</h3>
<p>
  Mean TEA  is driven by its vision — a commitment to forging bold, imaginative,
  reciprocal, and sustained engagements with our many constituent communities,
  local as well as global. Mean TEA is a public good, an anchor institution
  positioned to play an integral role in today’s knowledge-based, global
  society by leveraging a precious commodity—delicious tea—with
  partners from all sectors of the economy: public, private, and non-profit.
  Each tea brings its strengths to the table, where collectively we
  address the most pressing problems facing the tea community. In doing so,
  we invariably find that the challenges we face locally resonate globally.
</p>
