<p>
  Search by:
  <select ng-model="search.categories">
    <option value="">Choose</option>
    <option ng-repeat="category in categories" value="{{category}}">{{category | Capitalize}}</option>
  </select>
  Search by name:
  <input type="text" ng-model="search.name">
  <a href="#/checkout"><button type="button" class="btn btn-success pull-right"><strong>Checkout |</strong> Bag:
    <ng-pluralize count="cartStatus" when="
      {
        '0': 'Empty',
        '1': '1 Item',
        'other': '{} Items',
      }">
    </ng-pluralize></button></a>
</p>
<table class="table">
  <tr>
    <th>
      Tea
    </th>
    <th>
      Information
      <span class="pull-right">Sort By Price: <select ng-init="priceSorter='ignore'" ng-change="getTeas()" ng-model="priceSorter" class="" name="">
        <option value="ignore">Choose</option>
        <option value="true">Low To High</option>
        <option value="false">High To Low</option>
      </select></span>
    </th>
  </tr>
  <tr ng-repeat="tea in teas | filter:search:strict">
    <td>
      <img ng-src="{{tea.imageUrl}}" alt="" />
    </td>
    <td>
      <h3>
        {{tea.name}}
        <span class="cartAdder pull-right">
          Quantity: <select class="" ng-model="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <button type="button" class="btn btn-success" ng-click="addToCart(tea._id, quantity)">Add To Bag</button>
      </span>
      </h3>
      <p>
        <span>Price:</span> {{tea.price | centsToDollars | currency}}
      </p>
      <caffeine-meter caffeine="tea.caffeineScale"></caffeine-meter>
      <p>
        <span>Ingredients:</span> {{tea.ingredients}}
      </p>
      <p>
        <span>Rating:</span> {{tea.rating}}
      </p>
      <p>
        <span>In Stock?</span> {{tea.inStock | trueToYes}}
      </p>
      <p>
        <span>Categories</span>:
        <ul>
          <li ng-repeat="category in tea.categories">
            {{category}}
          </li>
        </ul>
      </p>
    </td>
  </tr>
</table>
